<div class="login">
  <h1>Login to Web App {{diagnostic}} </h1>

  <form name="loginForm" #loginForm='ngForm' novalidate role="form" (ngSubmit)="loginForm.form.valid && login()">
    <div>
      <input type="text" name="login" value="" placeholder="Username or Email" #username="ngModel" name="username"
        [(ngModel)]="loginData.username" required>
      <div [hidden]="!username.valid && username.touched" class="alert alert-danger"> This is required </div>
    </div>

    <div>
      <input type="password" name="password" minlength="4" name="password" required value="" placeholder="Password"
        #password="ngModel" [(ngModel)]="loginData.password">
      <!-- <div *ngIf="password.errors.required">
          password is required.
        </div> -->
      <div [hidden]="password.valid || password.pristine" class="alert alert-danger"> This is required </div>
    </div>
    <!-- <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">

      <div *ngIf="password.errors.required">
        password is required.
      </div>
      <div *ngIf="password.errors.minlength">
        password must be at least 4 characters long.
      </div>
       

    </div> -->
    <!-- <div *ngIf="password.invalid && (name.touched || name.dirty)">
      <div *ngIf="password.errors.required">
        <label>Password is mandory</label>
      </div>
    </div> -->

    <div class="remember_me">
      <label>
        <input type="checkbox" name="remember_me" id="remember_me" #checked="ngModel" [(ngModel)]="loginData.checked"
          required>
        Remember me on this computer
      </label>
    </div>
    <div style="display: flex;
    justify-content: flex-end;
    padding-top: 10px;">
      <button class="submit" type="submit" name="commit" value="Login" [disabled]="!loginForm.form.valid"> Login
      </button>
    </div>
  </form>
</div>

<div class="login-help">
  <p>Forgot your password? <a href="#">Click here to reset it</a>.</p>
</div>