<app-header></app-header>

<div class="row">
    <div class="col-md-8">
        <app-question-view [item]="currentItem"></app-question-view>
        <div class="alignQuestionControl">
            <div>
                <button class="btn tbn-md btn-secondary" style="margin: 3px;"
                    (click)='nextOrPrevious("previous")'>Previous</button>
                <button class="btn tbn-md btn-primary" style="margin: 3px;" (click)='nextOrPrevious("")'>Next</button>
            </div>
            <div>
                <button class="btn tbn-md btn-info" style="margin: 3px;"
                    (click)='markAsRead(currentItem)'>Mark as Review</button>
            </div>
        </div>
    </div>

    <div class="col-md-4">

        <div class="row">
            <div class="col-md-6">
                <table>
                    <tr style="display: block;">

                        <td *ngFor="let list of lists ; let i= index" [ngClass]="(i%5==0)?'break customtr':''">
                            <button [ngClass]="(i==activeBtn)?'btn-success':'btn-light'" class="btn btn-md"
                                value="{{i}}" (click)="getSelectedQuestion(list,$event)"> {{list+1}} </button>
                        </td>
                </table>
            </div>
        </div>


    </div>

</div>