<app-header></app-header>
<div class="main">
  <mat-card>
    <mat-toolbar>
      <span>List of Durations</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon book-icon" aria-label="Example icon-button with heart icon"
        (click)="toggleTable()">
        <mat-icon>book</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-toolbar>


    <div *ngIf="tableToggle" class="mat-elevation-z8">
      <div class="mat-elevation-z8" style="padding: 10px">
        <mat-form-field appearance="standard">
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
        </mat-form-field>
      </div>
      <table mat-table [dataSource]="dataSource" matSort>

        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="progress">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Progress </th>
          <td mat-cell *matCellDef="let row"> {{row.progress}}% </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let row"> {{row.name}} </td>
        </ng-container>

        <!-- Fruit Column -->
        <ng-container matColumnDef="fruit">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Fruit </th>
          <td mat-cell *matCellDef="let row"> {{row.fruit}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>

    <div *ngIf="!tableToggle" class="mat-elevation-z8">

      <!-- <form name="courseForm" #courseForm="ngForm" novalidate role="form" (ngSubmit)="courseForm.form.valid && saveCourse()"> -->
      <div class="container-fluid" style="padding-top: 10px;">
        <form name="durationForm" #durationForm='ngForm' novalidate role="form"
          (ngSubmit)="durationForm.form.valid && saveDuration(durationModel)">

          <div class="row">
            <div class="col-2">
              <mat-form-field appearance="fill">
                <mat-label>Duration Time</mat-label>
                <mat-select name="durationTime" id="durationTime" aria-placeholder="Select Status" ngModel
                  #durationTime="ngModel" matInput [(ngModel)]="durationModel.time">
                  <mat-option>Clear</mat-option>
                  <mat-option value="{{duration}}"
                    *ngFor="let duration of [1,2,3,4,5,6,7,8,9,10,11,12,13,15,16,17,18,19,20,21,22,23,24]">{{duration}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-4">
              <mat-form-field appearance="fill">
                <mat-label>Course Duration</mat-label>
                <mat-select name="courseType" id="courseType" aria-placeholder="Select Status" ngModel
                  #courseType="ngModel" matInput [(ngModel)]="durationModel.courseType">
                  <mat-option>Clear</mat-option>
                  <mat-option value="{{duration}}" *ngFor="let duration of ['HOURS','DAY','WEEK','MONTH','YEAR']">
                    {{duration}}</mat-option>
                </mat-select>
              </mat-form-field>



            </div>
            <div class="col-4">
              <mat-form-field appearance="fill">
                <mat-label>Status</mat-label>
                <mat-select name="courseDurationStatus" id="cdstatus" aria-placeholder="Select Status" ngModel
                  #courseDurationStatus="ngModel" matInput [(ngModel)]="durationModel.status">
                  <mat-option>Clear</mat-option>
                  <mat-option value="1">Active</mat-option>
                  <mat-option value="0">Inactive</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-2" id="subbtn">
              <button mat-raised-button>Submit</button>
            </div>
          </div>
        </form>
      </div>

    </div>
  </mat-card>
</div>
<app-footer></app-footer>